{% extends 'base.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block body %}
    <div class="trick-cover" style="background-image: url({{ trick.coverImage }})">
        <div class="container">
            <h1>{{ trick.title }}</h1>
        </div>
{#        {{ dump(app.user.roles) }}#}
{#        {{ dump(app.user.roles[0]) }}#}

        {% if app.user and (app.user == trick.author or app.user.roles[0] == "ROLE_ADMIN")%}
            <div class="trick-actions">

                <a href="{{ path('tricks_edit', {'slug': trick.slug}) }}" class="btn btn-secondary">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{{ path('tricks_delete', {'slug': trick.slug}) }}" class="btn btn-danger" onclick="return confirm(`Souhaitez vous supperimer votre figure : {{ trick.title }}`)" >
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="container">
        <ul id="lightSlider">
            {% for image in trick.images %}
                <li>
                    <div>
                        <img src="{{ image.url }}" alt="">
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <p>{{ trick.description | raw }}</p>
        </div>
        <div class="row mb-3 align-items-center">
            {% set a = trick.author %}
            <div class="col-1">
                <a href="{{ path('user_show', {'slug': a.slug}) }}">
                    <img class="avatar avatar-medium" src="{{ trick.author.picture }}" alt="Avatar de {{ a.fullName }}">
                </a>
            </div>
            <div class="col-9">
                <a href="{{ path('user_show', {'slug': a.slug}) }}">
                    <h3>{{ a.fullName }}</h3>
                </a>
                <span class="badge bg-secondary">{{ a.tricks | length }} création(s) de figure</span>
            </div>
        </div>
        <div class="row">
            {{ a.description | raw }}
        </div>

        <hr>

        {% if trick.comments|length > 0 %}
            <h2 class="mb-3">Commentaires de nos utilisateurs:</h2>
            {%  for comment in trick.comments|sort|reverse %}
                <div class="bg-light rounded mb-3 py-3 px-3">
                    <strong>{{  comment.author.fullName }}</strong> a dit :
                    <blockquote>
                        {{ comment.content }}
                    </blockquote>
                </div>
            {%  endfor %}
        {% else %}
            <h2>Cette figure n'a pas encore reçu de commentaires...</h2>
        {% endif %}

        {% if app.user %}
        <div class="mt-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Envoyez votre commentaire</button>
            {{ form_end(form) }}
        </div>
        {% endif %}

    </div>
{% endblock %}
